<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Book List')"></head>
<body>
<div class="container">
    <!-- Attributi:  Book book -->

    <h1>Add a book </h1>
    <hr>
    <form
            id="create-book"
            method="post"
            th:object="${book}"
            th:with="actionUrl=${#strings.isEmpty(book.id) ? '/books/create' : '/books/edit/' + book.id}"
            th:action="@{${actionUrl}}"
            class="row gy-3"
    >
        <div class="col-7">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" th:field="*{title}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-7">
            <label class="form-label" for="photo">URL</label>
            <input class="form-control" type="text" id="photo" th:field="*{photo}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('photo')}">
                <ul>
                    <li th:each="err : ${#fields.errors('photo')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-7">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" type="text" id="description" th:field="*{description}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-7">
            <label class="form-label" for="price">Price</label>
            <input class="form-control" type="text" id="price" th:field="*{price}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="mb-3">
            <label for="categoryList">Category</label>
            <select id="categoryList" class="form-select" th:field="*{categoryList}" th:errorClass="is-invalid">
                <option value="">--Choose type--</option>
                <option th:each="category : ${categoryList}" th:text="${category.name}"
                        th:value="${category.id}"></option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('categoryList')}">
                <ul>
                    <li th:each="err : ${#fields.errors('categoryList')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" th:href="@{/books}">Back to list</a>
        </div>

    </form>
</div>


<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>