<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Suppliers List')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('admin')"></nav>
<!--Attributi : List<SupplierBookPurchase> supplierPurchases -->
<div class="container">
    <div class="dropdown my-4">
        <a class="btn btn-info btn-lg dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Supplier purchases
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/books}">Book List</a></li>
            <li><a class="dropdown-item" th:href="@{/categories}">Category List</a></li>
            <li><a class="dropdown-item" th:href="@{/clients/purchases}">Client purchases</a></li>
            <li><a class="dropdown-item" th:href="@{/books/warehouse}">Warehouse</a></li>
        </ul>
    </div>
    <div th:if="${redirectMessage != null}"
         class="alert alert-success alert-dismissible fade show mt-4"
         role="alert">
        <div th:text="${redirectMessage}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-info" th:if="${supplierPurchases.size() ==0}"> The list is empty</div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-success " th:href="@{/suppliers/create-purchase}" role="button">Add purchase</a>
    </div>
    <table class="table" th:unless="${supplierPurchases.size() ==0}">
        <thead>
        <tr>
            <th scope="col">Book</th>
            <th scope="col">date</th>
            <th scope="col">amount</th>
            <th scope="col">Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="supp: ${supplierPurchases}">
            <td th:text="${supp.book.title}"></td>
            <td th:text="${supp.date}"></td>
            <td th:text="${supp.amount}"></td>
            <td th:text="|${supp.price} euro|"></td>
            <td class="d-flex justify-content-end">
                <form
                        th:action="@{/suppliers/delete-purchase/{id}(id=${supp.id})}"
                        method="post"
                        onsubmit="return confirm('Are you sure?')">
                    <button type="submit" class="btn btn-danger"> Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<footer th:replace="fragments/footer :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>