<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Book List')"></head>
<body>
<div class="container">
    <!-- Attributi:  Category formCategory-->

    <h1 th:text="${formCategory.id == null ? 'Create Category' : 'Edit Category'}"></h1>
    <hr>
    <form
            id="category-create"
            method="post"
            th:action="@{/categories/create}"
            th:object="${formCategory}"
            class="row gy-2"
    >
        <div class="col-6">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" th:field="*{name}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" th:href="@{/categories}">Cancel</a>
        </div>
    </form>
    </main>


</div>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>