<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="topNavbar(area)" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}" style="font-size: 35px;"><img
                th:src="@{/img/library-svgrepo-com.svg}" alt="Bootstrap" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top-navbar"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="top-navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${area == 'shop' ? 'active' : ''}"
                       th:href="@{/shop}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${area == 'contacts' ? 'active' : ''}"
                       th:href="@{/contacts}">Contacts</a>
                </li>

            </ul>

        </div>
        <div class="d-flex justify-content-end">
            <form
                    id="book-search"
                    th:action="@{/shop}"
                    method="get"

            >
                <div class="input-group">
                    <input class="form-control rounded-4" type="text" name="keyword" id="keyword"
                           placeholder="Search book by title" th:value="${preloadSearch}">
                    <button type="submit" id="search-button" class="btn btn-secondary rounded-4 mx-2"> Search</button>
                </div>
            </form>
            <div>
                <a th:href="@{/books}"><i class="fa-solid fa-lock"></i></a>
            </div>

        </div>
    </div>
</nav>
</body>
</html>