/*  *    */

/* tag*/

nav{
    background-color: rgb(117, 25, 18);
    /*font-family: 'PT Serif', serif;*/

    /*font-family: 'Bebas Neue', sans-serif;*/
    font-family: 'Nanum Myeongjo', serif;

    font-weight: bold;
    font-size: 33px;
    background: rgb(117, 25, 18);
    

}




/* .classe */




/* #id */
#search-button{
    background: rgb(117, 25, 18);
 }

#carouselExampleAutoplaying{
    box-sizing: content-box;
}