<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Error')"></head>


<body>
<nav th:replace="fragments/navbar :: topNavbar('admin')"></nav>
<div class="container mt-5 p-5">
    <div class="d-flex justify-content-center">
        <img th:src="@{/img/errorpage.jpg}"
             alt="..."
             width="600rem;" class="opacity-75">
    </div>

    <div class="d-flex justify-content-center">
        <div>
            <h1>Ooops... An error has occurred</h1>
            <h2 th:text="${status}"></h2>
            <p>Message: <span th:text="${message}"></span></p>
            <pre th:text="${trace}"></pre>

            <div class="m-2 d-flex justify-content-center"> <a class="btn btn-outline-success rounded-4 btn-lg" th:href="@{/}" role="button">Back to home</a>

        </div>
    </div>


</div>


<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>