<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Book List')"></head>
<body id="client-font">
<nav th:replace="fragments/navbar :: topNavbar('')"></nav>
<div th:replace="fragments/navbar :: searchbar"></div>

<!-- Attributi : List<Book> bookListTop5, List<Book> horrorTop5,  fantasyTop5, fictionTop5, psychologyTop5, booksPurchasedLastMonth-->

<div class="container-fluid bg-white">
    <div class="row d-flex justify-content-center">
        <!-- First Carousel -->
        <div class="carousel slide w-75" data-bs-ride="carousel" id="carouselExampleAutoplaying">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a th:href="@{/shop?keyword=harry+potter}">
                        <img alt="..." class="d-block w-100" th:src="@{/img/Paging_Readers_Books_2.png}">
                    </a>

                </div>
                <div class="carousel-item">
                    <a th:href="@{/shop/show/37}">
                        <img alt="..." class="d-block w-100" th:src="@{/img/Paging_Readers_Books_1.png}">
                    </a>
                </div>
                <div class="carousel-item">
                    <a th:href="@{/shop}">
                        <img alt="..." class="d-block w-100" th:src="@{/img/Paging_Readers_Books.png}">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleAutoplaying"
                    type="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next"
                    data-bs-target="#carouselExampleAutoplaying"
                    type="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- -----------Classifica ------------  -->
        <div class="container my-5">

            <div class="row justify-content-center">
                <div class="d-flex justify-content-center my-5">
                    <h1 class="fw-bold">Best Seller</h1>
                </div>

                <!-- Prima colonna -->
                <div class="col-6 mt-2" id="first-best-seller">
                    <div class="position-relative">
                        <!-- Sovrapposizione con testo "1°" -->
                        <div class="position-absolute top-0 start-0 rounded-4">
                            <div id="triangle">
                            </div>
                            <h1 id="placing1">1°</h1>
                        </div>

                        <div class="d-flex justify-content-center align-items-center mt-4 mb-5">
                            <img alt="..." class="card-img-top w-50"
                                 th:src="${bookListTop5[0].photo}">
                        </div>

                        <div>
                            <div class="d-flex justify-content-center">
                                <a th:href="@{/shop/show/{id}(id=${bookListTop5[0].id})}"
                                   th:text="${bookListTop5[0].title}"
                                   id="book-title-best-sellers" onmouseover="underlineText(event)"
                                   onmouseout="removeUnderline(event)"></a>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p th:text="${bookListTop5[0].author}"></p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <th:block th:each="i: ${#numbers.sequence(1, bookListTop5[0].rating)}">
                                    <i class="fas fa-star" style="color: #FFD43B;"></i>
                                </th:block>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- Seconda colonna-->
                <div class="col-3 mt-2">

                    <div class="row my-2" th:each="book, stato :${bookListTop5}" th:if="${stato.index>0}">
                        <div class="col-3">
                            <img alt="..."
                                 height="150em"
                                 th:src="${book.photo}">
                        </div>
                        <div class="col-9 d-flex align-items-center">
                            <ul class="list-unstyled">
                                <li><a class="card-link text-dark"
                                       th:href="@{/shop/show/{id}(id=${book.id})}"
                                       th:text="${book.title}"></a>
                                </li>
                                <li>Autore:</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- -----------Card Group 2------------  -->
        <div class="row justify-content-center px-5 bg-white">
            <h1 class="text-center my-5"> Best Sellers in the last month </h1>
            <div class="col-2 my-2 " th:each="book: ${booksPurchasedLastMonth}">
                <div class="card zoom-hover border border-0" style="width: 18rem;">
                    <img alt="..." class="card-img-top rounded-bottom" height="400rem" th:src="${book.photo}">
                    <div class="card-body bg-white">
                        <a class="card-title d-flex justify-content-center text-decoration-none fw-bold mb-1"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.title}"
                        >Card title
                        </a>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"

                             th:text="${book.author}"
                        >Card author
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1">
                            <th:block th:each="i: ${#numbers.sequence(1, book.rating)}">
                                <i class="fas fa-star" style="color: #FFD43B;"></i>
                            </th:block>
                        </div>

                        <p class="card-text d-flex justify-content-center"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.price} + &euro;">Card
                            price</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- -----------Card Group 3 ------------  -->
        <div class="row justify-content-center px-5 bg-light">
            <h1 class="text-center my-5"> Best Sellers Fantasy </h1>
            <div class="col-2 my-2 " th:each="book: ${fantasyTop5}">
                <div class="card zoom-hover border border-0" style="width: 18rem;">
                    <img alt="..." class="card-img-top rounded-bottom" height="400rem" th:src="${book.photo}">
                    <div class="card-body bg-light">
                        <a class="card-title d-flex justify-content-center text-decoration-none fw-bold mb-1"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.title}">Card
                            title</a>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"

                             th:text="${book.author}"
                        >Card author
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1">
                            <th:block th:each="i: ${#numbers.sequence(1, book.rating)}">
                                <i class="fas fa-star" style="color: #FFD43B;"></i>
                            </th:block>
                        </div>
                        <p class="card-text d-flex justify-content-center"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.price} + &euro;">Card
                            price</p>
                    </div>
                </div>

            </div>

        </div>
        <!-- -----------Card Group 4------------  -->
        <div class="row justify-content-center px-5 bg-white">
            <h1 class="text-center my-5"> Best Sellers Fiction </h1>
            <div class="col-2 my-2 " th:each="book: ${fictionTop5}">
                <div class="card zoom-hover border border-0" style="width: 18rem;">
                    <img alt="..." class="card-img-top rounded-bottom" height="400rem" th:src="${book.photo}">
                    <div class="card-body bg-white">
                        <a class="card-title d-flex justify-content-center text-decoration-none fw-bold mb-1"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.title}">Card
                            title</a>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"

                             th:text="${book.author}"
                        >Card author
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1">
                            <th:block th:each="i: ${#numbers.sequence(1, book.rating)}">
                                <i class="fas fa-star" style="color: #FFD43B;"></i>
                            </th:block>
                        </div>
                        <p class="card-text d-flex justify-content-center"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.price} + &euro;">Card
                            price</p>
                    </div>
                </div>

            </div>

        </div>
        <!-- -----------Card Group 5------------  -->

        <div class="row justify-content-center bg-light">
            <h1 class="text-center my-5"> Best Sellers Horror</h1>
            <div class="col-2 my-2 " th:each="book: ${horrorTop5}">
                <div class="card zoom-hover border border-0" style="width: 18rem;">
                    <img alt="..." class="card-img-top rounded-bottom" height="400rem" th:src="${book.photo}">
                    <div class="card-body bg-light">
                        <a class="card-title d-flex justify-content-center text-decoration-none fw-bold mb-1"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.title}">Card
                            title</a>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"

                             th:text="${book.author}"
                        >Card author
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1">
                            <th:block th:each="i: ${#numbers.sequence(1, book.rating)}">
                                <i class="fas fa-star" style="color: #FFD43B;"></i>
                            </th:block>
                        </div>
                        <p class="card-text d-flex justify-content-center"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.price} + &euro;">Card
                            price</p>
                    </div>
                </div>

            </div>

        </div>

        <!-- -----------Card Group 6------------  -->
        <div class="row justify-content-center bg-white">
            <h1 class="text-center my-5"> Best Sellers Psychology</h1>
            <div class="col-2 my-2 " th:each="book: ${psychologyTop5}">
                <div class="card zoom-hover border border-0" style="width: 18rem;">
                    <img alt="..." class="card-img-top rounded-bottom" height="400rem" th:src="${book.photo}">
                    <div class="card-body bg-white">
                        <a class="card-title d-flex justify-content-center text-decoration-none fw-bold mb-1"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.title}">Card
                            title</a>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"

                             th:text="${book.author}"
                        >Card author
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1">
                            <th:block th:each="i: ${#numbers.sequence(1, book.rating)}">
                                <i class="fas fa-star" style="color: #FFD43B;"></i>
                            </th:block>
                        </div>
                        <p class="card-text d-flex justify-content-center"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.price} + &euro;">Card
                            price</p>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/js/home.js}"></script>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>