<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('create new purchase')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('admin')"></nav>
<div class="container">
    <!-- Attributi: ClientPurchase clientPurchase -->
    <h1>Confirm purchase</h1>

    <form
            id="buy"
            th:object="${clientPurchase}"
            th:action="@{/shop/buy/{id}(id=${clientPurchase.book.id})}"
            method="post"
            class="row g-3">


        <div class="col-12">
            <h4 th:text=" *{book.title}">  </h4>
            <input th:field="*{book}" type="hidden">
            <input th:field="*{date}" type="hidden">
        </div>


        <div class="col-6">
            <label class="form-label" for="amount">Amount</label>
            <select id="amount" class="form-select" th:field="*{amount}" onchange="changePrice(event)">
                <option value= "1" selected>1</option>
                <option th:value= "2"> 2</option>
                <option th:value= "3"> 3</option>
                <option th:value= "4" >4</option>
                <option th:value= "5" >5</option>
                <option th:value= "6" >6</option>
                <option th:value= "7" >7</option>
                <option th:value= "8" >8</option>
                <option th:value= "9" >9</option>
                <option th:value= "10" >10</option>
                <option th:value= "11" >11</option>
                <option th:value= "12" >12</option>
                <option th:value= "13" >13</option>
                <option th:value= "14" >14</option>
                <option th:value= "15" >15</option>
                <option th:value= "16" >16</option>
                <option th:value= "17" >17</option>
                <option th:value= "18" >18</option>
                <option th:value= "19" >19</option>
                <option th:value= "20" >20</option>
            </select>
        </div>

        <div class="col-md-6">
            <span th:text="*{getPrice()}" id="price" class="visually-hidden"> </span>
            <p> Prezzo totale: <span id="totalPrice" th:text="*{getPrice()}"></span></p>

        </div>

        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" th:href="@{/shop}">Back to list</a>
        </div>
    </form>
</div>

<script type="text/javascript"  th:src="@{/js/main.js}"></script>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>
</html>