<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('create new purchase')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('admin')"></nav>
<div class="container">
    <!-- Attributi: ClientPurchase clientPurchase -->
    <h1>Confirm purchase</h1>

    <form
            id="buy"
            th:object="${clientPurchase}"
            th:action="@{/shop/buy/{id}(id=${clientPurchase.book.id})}"
            method="post"
            class="row g-3">


        <div class="col-md-6 ">
            <h4 th:text=" *{book.title}">  </h4>
            <input th:field="*{book}" type="hidden">
            <input th:field="*{date}" type="hidden">
        </div>


        <div class="col-md-12">

            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" data-bs-input
                   name="inputNumber1"
                   value="1" step="any" id="amount" th:field="*{amount}"
                   th:errorClass="is-invalid" min="1" max="1000000000" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('amount')}">
                <ul>
                    <li th:each="err : ${#fields.errors('amount')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">

        </div>

        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" th:href="@{/shop}">Back to list</a>
        </div>
    </form>
</div>
<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>
</html>