<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/resources :: head('Book List')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('shop')"></nav>
<div class="container">
    <!-- Attributi:  List<Book> shopList,   String preloadSearch, List<Category> categoryList-->

    <div class="row">


        <div th:if="${redirectMessage != null}"
             class="alert alert-success alert-dismissible fade show mt-4"
             role="alert">
            <div th:text="${redirectMessage}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        <div class="alert alert-info" th:if="${shopList.size() ==0}"> The list is empty</div>


        <div class=" col-2 d-flex flex-column flex-shrink-0 p-3 bg-light">
            <h3>Search for</h3>

            <form
                    id="search-book"
                    method="get"
                    th:action="@{/shop}">

                <h5>Categories:</h5>


                <div class="form-check" th:each="cat : ${categoryList}">
                    <input class="form-check-input" type="checkbox" th:value="${cat.id}" th:id="|cat-${cat.id}|"
                           name="category">
                    <label class="form-check-label" th:for="|cat-${cat.id}|" th:text="${cat.name}"></label>
                </div>

                <button type="submit" class="btn btn-primary"> Search</button>
            </form>


        </div>


        <div class="col-10 d-flex justify-content-between flex-wrap">
            <div class="col-4 my-2 " th:each="book: ${shopList}">

                <div th:unless="${shopList.size() ==0}" class="card" style="width: 18rem;">
                    <img th:src="${book.photo}" class="card-img-top" alt="..." height="400rem">
                    <div class="card-body">
                        <a class="card-title d-flex justify-content-center text-decoration-none fw-bold"
                           th:text="${book.title}"
                           th:href="@{/shop/show/{id}(id=${book.id})}">Card
                            title</a>
                        <div class="cc-content-rating">
                            <div class="cc-rating-icons">
                                <div class="cc-rating cc-rating--5">
                                <span> <i class="fa-solid fa-star" style="color: #FFD43B;"></i><i
                                        class="fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-solid fa-star"
                                                                                                style="color: #FFD43B;"></i><i
                                        class="fa-solid fa-star" style="color: #FFD43B;"></i><i
                                        class="fa-regular fa-star-half-stroke" style="color: #FFD43B;"></i> (sono tutte bugie)
                                </span>

                                </div>
                            </div>
                        </div>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="|${book.price} euro|"></li>
                    </ul>
                    <div class="card-body">
                        <a class="btn btn-primary" th:href="@{/shop/buy/{id}(id=${book.id})}" role="button">Buy now</a>

                    </div>
                </div>

            </div>
        </div>

    </div>


    <hr>
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary" th:href="@{/home}" role="button">Home</a>

    </div>


</div>


<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>