<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/resources :: head('Book List')"></head>
<body>
<style>
    body {
        background-image: url('/img/sfondo1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<nav th:replace="fragments/navbar :: topNavbar('shop')"></nav>
<div th:replace="fragments/navbar :: searchbar"></div>
<div class="container">
    <!-- Attributi:  List<Book> shopList,   String preloadSearch, List<Category> categoryList-->

    <div class="row">
        <div class="alert alert-success alert-dismissible fade show mt-4"
             role="alert"
             th:if="${redirectMessage != null}">
            <div th:text="${redirectMessage}"></div>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>


        <div class="alert alert-info" th:if="${shopList.size() ==0}"> The list is empty</div>


        <div class=" col-2 d-flex flex-column flex-shrink-0 p-3 bg-transparent">
            <div>
                <h3>Search for</h3>

                <form
                        id="search-book"
                        method="get"
                        th:action="@{/shop}">

                    <h5>Categories:</h5>


                    <div class="form-check" th:each="cat : ${categoryList}">
                        <input class="form-check-input" name="category" th:id="|cat-${cat.id}|" th:value="${cat.id}"
                               type="checkbox">
                        <label class="form-check-label" th:for="|cat-${cat.id}|" th:text="${cat.name}"></label>
                    </div>

                    <button class="btn btn-primary" type="submit"> Search</button>
                </form>

            </div>


        </div>


        <div class="col-10 d-flex justify-content-between flex-wrap">
            <div class="col-4 my-5 " th:each="book: ${shopList}">

                <div class="card zoom-hover border border-0" style="width: 18rem;" th:unless="${shopList.size() ==0}">
                    <img alt="..." class="card-img-top rounded-bottom" height="400rem" th:src="${book.photo}">
                    <div class="card-body">
                        <a class="card-title d-flex justify-content-center text-decoration-none fw-bold"
                           th:href="@{/shop/show/{id}(id=${book.id})}"
                           th:text="${book.title}">Card
                            title</a>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"

                             th:text="${book.author}"
                        >Card author
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"
                             th:if="${book.rating} == 1"
                        ><i class="fas fa-star" style="color: #FFD43B;"></i>
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"
                             th:if="${book.rating} == 2"
                        ><i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"
                             th:if="${book.rating} == 3"
                        ><i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"
                             th:if="${book.rating} == 4"
                        ><i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                        </div>
                        <div class="card-text d-flex justify-content-center text-decoration-none fw-bold mb-1"
                             th:if="${book.rating} == 5"
                        ><i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                        </div>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="|${book.price} euro|"></li>
                    </ul>
                    <div class="card-body">
                        <a class="btn btn-success" role="button" th:href="@{/shop/buy/{id}(id=${book.id})}">Buy now</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>


<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/toast.js}" type="text/javascript"></script>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>